In [3]:
%pylab inline
import pandas as pd
from sklearn import linear_model

Populating the interactive namespace from numpy and matplotlib

In [6]:
cd /users/henrikeckermann/onedrive/programming/field

/Users/henrikeckermann/OneDrive/Programming/Field

In [51]:
df_ea= pd.read_csv("Exam Anxiety.dat", delim_whitespace= True, index_col=0)
df_ea.index.name=None
df_g= pd.read_csv("grades.csv")

In [53]:
df_ea.head()

   Revise  Exam  Anxiety  Gender
1       4    40   86.298    Male
2      11    65   88.716  Female
3      27    80   70.178    Male
4      53    80   61.312    Male
5       4    40   89.522    Male

In [23]:
df_g.head()

   stats  gcse
0      1     1
1      1     1
2      1     3
3      2     3
4      2     3

In [24]:
anarray= df_g["stats"].values

In [25]:
anarray

array([1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6,
       6, 6])

In [67]:
l= [1,2,4,5,6,7,4]
l2=["a","b","c","d","e","f", "g"]
zipped=list((l,l2))

In [68]:
print(zipped)

[[1, 2, 4, 5, 6, 7, 4], ['a', 'b', 'c', 'd', 'e', 'f', 'g']]