In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [24]:
chipo= pd.read_csv('chipotle.tsv', delimiter='\t')

In [25]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [150]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
total                 4622 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.7+ KB

In [156]:
chipo.columns.nunique()
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [61]:
chipo.groupby('item_name')[['quantity']].sum().max()

quantity    761
dtype: int64

In [66]:
chipo['quantity'].sum()

4972

In [83]:
chipo.groupby('choice_description')[['quantity']].sum()

                                                    quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...         1
[Adobo-Marinated and Grilled Chicken]                      1
[Adobo-Marinated and Grilled Steak, [Sour Cream...         1
[Adobo-Marinated and Grilled Steak]                        1
[Apple]                                                    6
[Blackberry]                                               8
[Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...         1
[Braised Barbacoa, Vegetarian Black Beans, [Sou...         1
[Braised Carnitas, Pinto Beans, [Sour Cream, Ch...         3
[Brown Rice, Adobo-Marinated and Grilled Chicke...         1
[Brown Rice]                                               1
[Clementine]                                               8
[Coca Cola]                                               32
[Coke]                                                   143
[Diet Coke]                                              159
[Diet Dr. Pepper]                                         14
[Dr. Pepper]                                              21
[Fresh Tomato (Mild), [Black Beans, Guacamole, ...         1
[Fresh Tomato (Mild), [Black Beans, Rice, Sour ...         2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Pint...         2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...         1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...         1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...         1
[Fresh Tomato (Mild), [Guacamole, Rice, Black B...         1
[Fresh Tomato (Mild), [Guacamole, Rice, Fajita ...         1
[Fresh Tomato (Mild), [Guacamole, Rice, Sour Cr...         1
[Fresh Tomato (Mild), [Guacamole, Rice]]                   1
[Fresh Tomato (Mild), [Guacamole, Sour Cream, C...         2
[Fresh Tomato (Mild), [Lettuce, Black Beans, Gu...         1
...                                                      ...
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         6
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...         2
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         2
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...         1
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chil...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1

[1043 rows x 1 columns]

In [101]:
chipo[['item_price']]=chipo[['item_price']].replace('[\$,]','',regex=True).astype(float)

In [107]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [121]:
chipo['total'] = chipo.quantity*chipo.item_price
print('Total revenue was {:.2f}.'.format(chipo['total'].sum()))

Total revenue was 39237.02.

,order_id,quantity,item_name,choice_description,item_price,total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98

In [125]:
print('{} orders have been made in total.'.format(chipo['order_id'].nunique()))

1834 orders have been made in total.

In [143]:
x = chipo.groupby('order_id')[['quantity']].sum()
print('The average amount per order is {:.2f} items'.format(x['quantity'].sum()/1834))

The average amount per order is 2.71 items

In [149]:
print('{} unique items were sold.'.format(chipo['item_name'].nunique()))

50 unique items were sold.

In [148]:
chipo['item_name'].nunique()

50

**Here comes part 2 of this exercise**

In [167]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', index_col='user_id', delimiter='|')

In [169]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [170]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [172]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [174]:
print('The number of columns is {}.'.format(users.columns.nunique()))

The number of columns is 4.

In [181]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [183]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [186]:
for col in users.columns:
    print(type(users.loc[4,col]))

<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>

In [190]:
print(users.occupation)
print(users['occupation'].nunique())

user_id
1         technician
2              other
3             writer
4         technician
5              other
6          executive
7      administrator
8      administrator
9            student
10            lawyer
11             other
12             other
13          educator
14         scientist
15          educator
16     entertainment
17        programmer
18             other
19         librarian
20         homemaker
21            writer
22            writer
23            artist
24            artist
25          engineer
26          engineer
27         librarian
28            writer
29        programmer
30           student
           ...
914            other
915    entertainment
916         engineer
917          student
918        scientist
919            other
920           artist
921          student
922    administrator
923          student
924            other
925         salesman
926    entertainment
927       programmer
928          student
929        scientist
930        scientist
931         educator
932         educator
933          student
934         engineer
935           doctor
936            other
937         educator
938       technician
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, dtype: object
21

In [193]:
users['occupation'].value_counts().head(1)

student    196
Name: occupation, dtype: int64

In [205]:
users.describe(include ='all')
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [206]:
users['age'].mean()

34.05196182396607

In [208]:
users['age'].value_counts().tail(1)

7    1
Name: age, dtype: int64

**HERE COMES PART III**

In [215]:
cd /Users/henrikeckermann/

/Users/henrikeckermann

In [219]:
food = pd.read_csv('FoodFacts.csv')

/Users/henrikeckermann/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,3,5,27,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [233]:
food.head(6)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,caffeine_100g,taurine_100g,ph_100g,fruits_vegetables_nuts_100g,collagen_meat_protein_ratio_100g,cocoa_100g,chlorophyl_100g,carbon_footprint_100g,nutrition_score_fr_100g,nutrition_score_uk_100g
0,000000000000012866,http://world-en.openfoodfacts.org/product/0000...,date-limite-app,1447004364,2015-11-08T17:39:24Z,1447004364,2015-11-08T17:39:24Z,PoÃªlÃ©e Ã la sarladaise,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000024600,http://world-en.openfoodfacts.org/product/0000...,date-limite-app,1434530704,2015-06-17T08:45:04Z,1434535914,2015-06-17T10:11:54Z,Filet de bÅ“uf,NaN,2.46 kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000036252,http://world-en.openfoodfacts.org/product/0000...,tacinte,1422221701,2015-01-25T21:35:01Z,1422221855,2015-01-25T21:37:35Z,Lion Peanut x2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000039259,http://world-en.openfoodfacts.org/product/0000...,tacinte,1422221773,2015-01-25T21:36:13Z,1422221926,2015-01-25T21:38:46Z,Twix x2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000039529,http://world-en.openfoodfacts.org/product/0000...,teolemon,1420147051,2015-01-01T21:17:31Z,1439141740,2015-08-09T17:35:40Z,Pack de 2 Twix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0000001071894,http://world-en.openfoodfacts.org/product/0000...,bcatelin,1409411252,2014-08-30T15:07:32Z,1439141739,2015-08-09T17:35:39Z,Flute,Flute,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
food.shape

(65503, 159)

In [225]:
for col in food.columns:
    print(col)

code
url
creator
created_t
created_datetime
last_modified_t
last_modified_datetime
product_name
generic_name
quantity
packaging
packaging_tags
brands
brands_tags
categories
categories_tags
categories_en
origins
origins_tags
manufacturing_places
manufacturing_places_tags
labels
labels_tags
labels_en
emb_codes
emb_codes_tags
first_packaging_code_geo
cities
cities_tags
purchase_places
stores
countries
countries_tags
countries_en
ingredients_text
allergens
allergens_en
traces
traces_tags
traces_en
serving_size
no_nutriments
additives_n
additives
additives_tags
additives_en
ingredients_from_palm_oil_n
ingredients_from_palm_oil
ingredients_from_palm_oil_tags
ingredients_that_may_be_from_palm_oil_n
ingredients_that_may_be_from_palm_oil
ingredients_that_may_be_from_palm_oil_tags
nutrition_grade_uk
nutrition_grade_fr
pnns_groups_1
pnns_groups_2
states
states_tags
states_en
main_category
main_category_en
image_url
image_small_url
energy_100g
energy_from_fat_100g
fat_100g
saturated_fat_100g
butyric_acid_100g
caproic_acid_100g
caprylic_acid_100g
capric_acid_100g
lauric_acid_100g
myristic_acid_100g
palmitic_acid_100g
stearic_acid_100g
arachidic_acid_100g
behenic_acid_100g
lignoceric_acid_100g
cerotic_acid_100g
montanic_acid_100g
melissic_acid_100g
monounsaturated_fat_100g
polyunsaturated_fat_100g
omega_3_fat_100g
alpha_linolenic_acid_100g
eicosapentaenoic_acid_100g
docosahexaenoic_acid_100g
omega_6_fat_100g
linoleic_acid_100g
arachidonic_acid_100g
gamma_linolenic_acid_100g
dihomo_gamma_linolenic_acid_100g
omega_9_fat_100g
oleic_acid_100g
elaidic_acid_100g
gondoic_acid_100g
mead_acid_100g
erucic_acid_100g
nervonic_acid_100g
trans_fat_100g
cholesterol_100g
carbohydrates_100g
sugars_100g
sucrose_100g
glucose_100g
fructose_100g
lactose_100g
maltose_100g
maltodextrins_100g
starch_100g
polyols_100g
fiber_100g
proteins_100g
casein_100g
serum_proteins_100g
nucleotides_100g
salt_100g
sodium_100g
alcohol_100g
vitamin_a_100g
beta_carotene_100g
vitamin_d_100g
vitamin_e_100g
vitamin_k_100g
vitamin_c_100g
vitamin_b1_100g
vitamin_b2_100g
vitamin_pp_100g
vitamin_b6_100g
vitamin_b9_100g
vitamin_b12_100g
biotin_100g
pantothenic_acid_100g
silica_100g
bicarbonate_100g
potassium_100g
chloride_100g
calcium_100g
phosphorus_100g
iron_100g
magnesium_100g
zinc_100g
copper_100g
manganese_100g
fluoride_100g
selenium_100g
chromium_100g
molybdenum_100g
iodine_100g
caffeine_100g
taurine_100g
ph_100g
fruits_vegetables_nuts_100g
collagen_meat_protein_ratio_100g
cocoa_100g
chlorophyl_100g
carbon_footprint_100g
nutrition_score_fr_100g
nutrition_score_uk_100g

In [235]:
print(food.columns[104])

glucose_100g

In [236]:
print(food['glucose_100g'].dtype)

float64

In [231]:
food.index

RangeIndex(start=0, stop=65503, step=1)

In [237]:
print(food.iloc[18,7])

Flat Leaf Parsley